<app-menu></app-menu>
<div class="p-4">
  <span class="fw-bold fst-italic">[{{ title }}] </span>
  <span>
    | <a class="return-to-link" routerLink="/user-list">Return to List</a></span
  >

  <table>
    <tr>
      <td>Username:</td>
      <td>
        <input name="username" [(ngModel)]="newUser.username" type="text" />
      </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td>
        <input name="password" [(ngModel)]="newUser.password" type="text" />
      </td>
    </tr>
    <tr>
      <td>First Name:</td>
      <td>
        <input name="firstName" [(ngModel)]="newUser.firstName" type="text" />
      </td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>
        <input name="lastName" [(ngModel)]="newUser.lastName" type="text" />
      </td>
    </tr>
    <tr>
      <td>Phone Number:</td>
      <td>
        <input
          name="phoneNumber"
          [(ngModel)]="newUser.phoneNumber"
          type="text"
        />
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>
        <input name="email" [(ngModel)]="newUser.email" type="email" />
      </td>
    </tr>
    <tr>
      <input name="reviewer" [(ngModel)]="newUser.reviewer" type="checkbox" />
      Reviewer
    </tr>
    <tr>
      <input name="admin" [(ngModel)]="newUser.admin" type="checkbox" />
      Admin
    </tr>
  </table>
  <button (click)="addUser()" class="btn btn-sm btn-primary">Create</button>
  <a routerLink="/user-list" class="btn btn-sm btn-secondary">Cancel</a>
</div>
