<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/user-list">
    <img src="/images/prs-logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-top"/>
    My PRS App</a
  >

  <div>
    <ul>
      <li>
        <a routerLink="/user-list">Users</a>
      </li>
      <li>
        <a routerLink="/vendor-list">Vendors</a>
      </li>
      <li>
        <a routerLink="/product-list">Products</a>
      </li>
      <li>
        <a routerLink="/request-list">Requests</a>
      </li>
    </ul>
  </div>
</nav>
