<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" routerLink="/user-list">
      <img
        src="/images/prs-logo.png"
        alt="Logo"
        width="60"
        height="60"
    /></a>

    <ul>
      <li>
        <a routerLink="/user-list">Users</a>
      </li>
      <li>
        <a routerLink="/vendor-list">Vendors</a>
      </li>
      <li>
        <a routerLink="/product-list">Products</a>
      </li>
      <li>
        <a routerLink="/request-list">Requests</a>
      </li>
    </ul>
  </div>
</nav>
