<div class="p-4">
    <h1>{{ title }}</h1>
      <table>
        <tr>
          <td>User:</td>
          <td>
            <select [(ngModel)]="newRequest.user" name="user" [compareWith]="compUser">
              <option *ngFor="let u of users" [ngValue]="u">
                {{ u.username }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>
            <input name="description" [(ngModel)]="newRequest.description" type="text" />
          </td>
        </tr>
        <tr>
          <td>Justification:</td>
          <td>
            <input name="justification" [(ngModel)]="newRequest.justification" type="text" />
          </td>
        </tr>
        <tr>
          <td>Date Needed:</td>
          <td>
            <input name="dateNeeded" [(ngModel)]="newRequest.dateNeeded" type="date" />
          </td>
        </tr>
        <tr>
          <td>Delivery Mode:</td>
          <td>
            <select 
                [(ngModel)]="newRequest.deliveryMode" name="deliveryMode"
                class="rounded">
               <option *ngFor="let dm of deliveryModes" [ngValue]="dm">
                {{ dm }}
              </option>
              </select>
          </td>
        </tr>
      </table>
      <button (click)="addRequest()">Add Request</button>
  </div>
  