<div class="p-4">
  <span class="fw-bold fst-italic">[{{ title }}] </span>

  <span
    style="
      float: right;
      padding-right: 30px;
      font-style: italic;
      font-weight: bold;
    "
    >{{ welcomeMsg }}</span
  >

  <!-- Display request details -->
  <table class="table table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Total</th>
    </thead>

    <tbody>
      <tr *ngIf="request && request.user">
        <td>{{ request.user.firstName + " " + request.user.lastName }}</td>
        <td>{{ request.description }}</td>
        <td>{{ request.status }}</td>
        <td>{{ request.total }}</td>
      </tr>
    </tbody>
  </table>

  <span class="fw-bold fst-italic">[{{ LineTitle }}] </span>
  <!-- <a routerLink="/lineitem-create/{{ requestId }}"> -->
  <a [routerLink]="['/lineitem-create', requestId]">
    <img width="20" height="20" src="images/add-icon.png" title="Add New" />
  </a>
  <table class="table table-striped table-hover mt-4">
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of lineitems">
        <td>{{ getVendorName(li.product.vendor.id) }}</td>
        <td>{{ li.product.name }}</td>
        <td>{{ li.quantity }}</td>
        <td>{{ li.product.price | currency }}</td>
        <td>{{ li.quantity * li.product.price | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
