<div class="p-4">
  <h1>{{ title }}</h1>
    <table>
      <tr>
        <td>Vendor:</td>
        <td>
          <select [(ngModel)]="newProduct.vendor" name="vendor">
            <option *ngFor="let v of vendors" [ngValue]="v">
              {{ v.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Part Number:</td>
        <td>
          <input name="partNumber" [(ngModel)]="newProduct.partNumber" type="text" />
        </td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>
          <input name="name" [(ngModel)]="newProduct.name" type="text" />
        </td>
      </tr>
      <tr>
        <td>Price:</td>
        <td>
          <input name="price" [(ngModel)]="newProduct.price" type="text" />
        </td>
      </tr>
      <tr>
        <td>Unit:</td>
        <td>
          <input name="unit" [(ngModel)]="newProduct.unit" type="text" />
        </td>
      </tr>
      <tr>
        <td>Photo Path:</td>
        <td>
          <input name="photoPath" [(ngModel)]="newProduct.photoPath" type="text" />
        </td>
      </tr>
    </table>
    <button (click)="addProduct()">Add Product</button>
</div>
